body {
    background-image: url("/assets/bg.jpg");
}

header {
    text-align: center;
}
.perkenalan {
    text-align: center;
}

.aktivitas {
    text-align: center;
}

.pendidikan{
    position: relative;
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}
.pendidikan .logo {
    width: 150px;
    flex: 0 0 150px;
}
.pendidikan .logo img {
    max-width: 100%;
}
.pendidikan .description {
    padding-left: 20px;
}
.pendidikan .description h2 {
    margin: 0;
    padding-left: 0;
}
.pendidikan .description h3 {
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
}

.tabel {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

.tabel thead tr{
    background-color: #009879;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.tabel tbody tr {
    border-bottom: 1px solid #ddd;
}
